<div>
  
  <router-outlet></router-outlet>
  <!--<app-signup></app-signup>-->
  <!--<app-login></app-login>-->
  <!--<app-user-dashboard></app-user-dashboard>-->
  <!--<app-admin-dashboard></app-admin-dashboard>-->
  <!-- <app-transactionreport></app-transactionreport>  -->
  <!--<app-loanrequest></app-loanrequest>-->
  <!--<app-create-account></app-create-account>-->
  <!--<app-create-loanrequest></app-create-loanrequest>-->
  <!--<app-updatedetails></app-updatedetails>-->
  <!--<app-create-deposite></app-create-deposite>-->
<!--  <app-create-chequerequest></app-create-chequerequest>-->
  <!--<app-create-transferrequest></app-create-transferrequest>-->
  <!--<app-create-withdrawlrequest></app-create-withdrawlrequest>-->
</div>