<nav class="navbar navbar-expand-xl fixed-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ICIN BANK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
      aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex">
      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item p-8">
            <a class="nav-link text-white b1" href="transferrequest">Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white b2 " href="createdeposite">Deposit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white b3 " href="createwithdrawlrequest">Withdrawl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white b4" href="balance">Balance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white b5 " href="createchequerequest">ChequeBookRequest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white b6 " href="loanrequest">LoanRequest</a>
          </li>
          <li class="nav-item p-8">
            <a class="nav-link text-white b7" href="updatedetails">Update Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white b8 " href="createaccount">New Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white b9" href="pass">Change Password</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white b10" (click)="logout()">logout</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
<br>
<br>

<body class="landing" style="background-image:url('background1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="infobox" style="text-align: center;">
          <br>
          <h2>Welcome to ICIN Bank </h2>
          <br>
          <h5>We're here to help you when you need financial support</h5>
          <br>
          <h4>Pleasure to serve!!!</h4>

        </div>
      </div>
      
      
    </div>
  </div>
  <div class="container ">
    <div class="row">
    

      <div class="col-7">
        <div class="card rules">
          <div class="card-body">
            <h2 class="rule-h2">WE TAKE YOUR SECURITY SERIOUSLY !</h2>
            <!-- <ul>
              <li>
                <h5>Don't access your bank accounts on public Wi-Fi</h5>
              </li>
              <li>
                <h5>Avoid saving your login information</h5>
              </li>
              <li>
                <h5>Use strong passwords and change them often</h5>
              </li>
              <li>
                <h5>Use two-factor authentication whenever possible</h5>
              </li>
              <li>
                <h5>Keep your computer updated</h5>
              </li>
              
            </ul> -->
          </div>
        </div>

      </div>
    </div>
  </div>
  <footer>
    <div class="footer-content">
        <h4>Online-Banking</h4>
        <p>copyright &copy; <a href="#"> Developers</a>  </p>
    </div>
  </footer>
</body>