<nav class="navbar navbar-expand-xl fixed-top navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ICIN BANK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
            aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
            <button class="btn btn-light" routerLink="/login">Log Out</button>
        </div>

    </div>
</nav>

<div class="container ">
    <div class="row">
        <div class="col-10">
            <div class="card border-0">
                <div class="text-center"><br><br>
                    <h1 class="text-dark font-weight-bold">Withdraw</h1><br>
                    <h6 class="text-dark font-weight-bold">{{msg}}</h6><br>

                </div>
                <form  [formGroup]="withdrawRef" (ngSubmit)="withdraw()">
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Account Type</label>
                        <div class="form-group">

                            <div class="input-group">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <div>
                                        <input type="radio" formControlName="accounttype" class="btn-check" name="accounttype" id="btnRadio1"
                                            autocomplete="off" checked="">
                                        <label>Primary</label>
                                    </div>
                                </div>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <div>
                                        <input type="radio" formControlName="accounttype" class="btn-check" name="accounttype" id="btnRadio1"
                                            autocomplete="off" checked="">
                                        <label>Savings</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Account Number</label>
                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-dark text-white">
                                        <span class="fa fa-user"></span>
                                    </span>
                                </div>
                                <input type="text" formControlName="accountno" class="form-control" name="accountno"
                                    placeholder="Enter Your Account Number" required="required" id="accountno">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label font-weight-bold">Deposite Amount</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-dark text-white">
                                        <span class="fa fa-money-bill"></span>
                                    </span>
                                </div>
                                <input type="text" formControlName="balance" class="form-control" id="amount" name="balance"
                                    placeholder="Enter Amount">
                            </div>
                        </div>
                    </div>
                    
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark btn-lg float-center align-right">Submit</button>
            </div>
            </form>

        </div>
    </div>
</div>
</div>


<footer>
    <div class="footer-content">
        <h4>Online-Banking</h4>
        <p>copyright &copy; <a href="#"> Developers</a>  </p>
    </div>
  </footer>